@use "../../../../assets/styles/auth-form";

.signup {
  margin-top: 121px;
  margin-bottom: 120px;

  .container {
    display: flex;
    gap: 185px;

    .auth-form {
      // задано в auth-form.scss
    }

    .page-image {
      margin-top: 2px;
      width: 607px;
      height: 390px;
      border-radius: 5px;
      overflow: hidden;

      img {
        vertical-align: bottom;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

@media (max-width: 1400px) {
  .signup {
    .container {
      gap: 15%;

      .page-image {
        width: 50%;
      }
    }
  }
}

@media (max-width: 1200px) {
  .signup {
    margin-top: 80px;
    margin-bottom: 80px;

    .container {
      gap: 10%;
    }
  }
}

@media (max-width: 1000px) {
  .signup {
    margin-top: 60px;
    margin-bottom: 60px;

    .container {
      gap: 5%;
    }
  }
}

@media (max-width: 800px) {
  .signup {
    margin-top: 40px;
    margin-bottom: 40px;

    .container {
      justify-content: center;

      .page-image {
        display: none;
      }
    }
  }
}

@media (max-width: 400px) {
  .signup {
    margin-top: 0;
    margin-bottom: 0;
  }
}
