<section class="article">
  <div class="container">
    <div class="breadcrumbs"><span>Блог / </span>{{ probeArticle.title }}</div>
    <div class="chapter chapter-article">
      <div class="chapter-top-part">
        <div class="top-text-part">
          <div class="chapter-title chapter-title--article">{{ probeArticle.title }}</div>
          <div class="title-description">{{ probeArticle.description }}</div>
        </div>
        <div class="top-image-part" [style.background-image]="'url(' + imageUrl + ')'"></div>
      </div>
      <div class="chapter-central-part">
        <div class="main-thread">
          <div class="article-text" [innerHTML]="cleanHtmlArticleBody"></div>
          <div class="contacts">
            <span>Понравилась статья? Поделитесь ею в своих социальных сетях!</span>
            <div class="contacts-actions">
              <div class="icons-block">
                <a routerLink="/">
                  <svg width="24" height="24">
                    <use href="assets/icons/articles-icons.svg#no-fill-vk-icon"></use>
                  </svg>
                </a>
                <a routerLink="/">
                  <svg width="24" height="24">
                    <use href="assets/icons/articles-icons.svg#no-fill-facebook-icon"></use>
                  </svg>
                </a>
                <a routerLink="/">
                  <svg width="24" height="24">
                    <use href="assets/icons/articles-icons.svg#no-fill-instagram-icon"></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>
          <div class="comments">
            <div class="empty-block"></div>
            <div class="comments-title">Комментарии к статье</div>
            <div class="unlogged-suggestion">Чтобы оставлять комментарии, <a routerLink="login">войдите</a> или <a
              routerLink="signup">зарегистрируйтесь</a>.
            </div>
            <div class="first-comment-suggestion">Будьте первым, кто оставит свой комментарий к статье!</div>
            <div class="user-comments-make-area">
              <textarea placeholder="Напишите Ваш комментарий к статье..."></textarea>
              <button>Опубликовать комментарий</button>
            </div>
            <div class="other-user-comments">
              <div class="comment">
                <div class="comment-header">
                  <div class="icon">
                    <svg width="60" height="60">
                      <use href="assets/icons/articles-icons.svg#user-no-picture"></use>
                    </svg>
                  </div>
<!--                  <img src="{{ userPic404path }}" alt="userPic">-->
                  <div class="username-and-time">
                    <span class="username">Амелия</span>
                    <span class="time">20.01.2023 23:00</span>
                  </div>
                </div>
                <div class="comment-text">
                  Статья супер, спасибо! Взяла на заметку очень многое для себя и своей фирмы по разработке
                  пользовательского интерфейса. Хотелось бы послушать мнение других тоже!
                </div>
                <div class="comment-actions">
                  <div class="comment-action action-like">
                    <span class="amount">51</span>
                    <svg width="24" height="24">
                      <use href="assets/icons/articles-icons.svg#no-stroke-like"></use>
                    </svg>
                  </div>
                  <div class="comment-action action-dislike">
                    <span class="amount">2</span>
                    <svg width="24" height="24">
                      <use href="assets/icons/articles-icons.svg#no-stroke-dislike"></use>
                    </svg>
                  </div>
                  <div class="comment-action action-spam">
                    <svg width="24" height="24">
                      <use href="assets/icons/articles-icons.svg#no-stroke-spam"></use>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="comment">
                <div class="comment-header">
                  <div class="icon">
                    <svg width="60" height="60">
                      <use href="assets/icons/articles-icons.svg#user-no-picture"></use>
                    </svg>
                  </div>
<!--                  <img src="{{ userPic404path }}" alt="userPic">-->
                  <div class="username-and-time">
                    <span class="username">Амелия</span>
                    <span class="time">20.01.2023 23:00</span>
                  </div>
                </div>
                <div class="comment-text">
                  Статья супер, спасибо! Взяла на заметку очень многое для себя и своей фирмы по разработке
                  пользовательского интерфейса. Хотелось бы послушать мнение других тоже!
                </div>
                <div class="comment-actions">
                  <div class="comment-action action-like">
                    <span class="amount">51</span>
                    <svg width="24" height="24">
                      <use href="assets/icons/articles-icons.svg#no-stroke-like"></use>
                    </svg>
                  </div>
                  <div class="comment-action action-dislike">
                    <span class="amount">2</span>
                    <svg width="24" height="24">
                      <use href="assets/icons/articles-icons.svg#no-stroke-dislike"></use>
                    </svg>
                  </div>
                  <div class="comment-action action-spam">
                    <svg width="24" height="24">
                      <use href="assets/icons/articles-icons.svg#no-stroke-spam"></use>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="comment">
                <div class="comment-header">
                  <div class="icon">
                    <svg width="60" height="60">
                      <use href="assets/icons/articles-icons.svg#user-no-picture"></use>
                    </svg>
                  </div>
<!--                  <img src="{{ userPic404path }}" alt="userPic">-->
                  <div class="username-and-time">
                    <span class="username">Амелия</span>
                    <span class="time">20.01.2023 23:00</span>
                  </div>
                </div>
                <div class="comment-text">
                  Статья супер, спасибо! Взяла на заметку очень многое для себя и своей фирмы по разработке
                  пользовательского интерфейса. Хотелось бы послушать мнение других тоже!
                </div>
                <div class="comment-actions">
                  <div class="comment-action action-like">
                    <span class="amount">51</span>
                    <svg width="24" height="24">
                      <use href="assets/icons/articles-icons.svg#no-stroke-like"></use>
                    </svg>
                  </div>
                  <div class="comment-action action-dislike">
                    <span class="amount">2</span>
                    <svg width="24" height="24">
                      <use href="assets/icons/articles-icons.svg#no-stroke-dislike"></use>
                    </svg>
                  </div>
                  <div class="comment-action action-spam">
                    <svg width="24" height="24">
                      <use href="assets/icons/articles-icons.svg#no-stroke-spam"></use>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
            <button type="button" class="get-more-comments">
              <span>Загрузить ещё комментарии</span>
              <svg width="24" height="24">
                <use href="assets/icons/articles-icons.svg#no-fill-arrow-down"></use>
              </svg>
            </button>
          </div>
        </div>
        <aside class="aside-read-more">
          <div class="read-more-title">Читайте также:</div>
          <article-card></article-card>
          <article-card></article-card>
        </aside>
      </div>
    </div>
  </div>
</section>
