<section class="article">
  <div class="container">
    <div class="breadcrumbs"><span><a routerLink="/blog">Блог / </a></span>{{ fullArticle?.title }}</div>
    <div class="chapter chapter-article">
      <div class="chapter-top-part">
        <div class="top-text-part">
          <div class="chapter-title chapter-title--article">{{ fullArticle?.title }}</div>
          <div class="title-description">{{ fullArticle?.description }}</div>
        </div>
        <div class="top-image-part" [style.background-image]="'url(' + imageUrl + ')'"></div>
      </div>
      <div class="chapter-central-part">
        <div class="main-thread">
          <div class="article-text" [innerHTML]="cleanHtmlArticleBody"></div>
          <div class="contacts">
            <span>Понравилась статья? Поделитесь ею в своих социальных сетях!</span>
            <div class="contacts-actions">
              <div class="icons-block">
                <a routerLink="/">
                  <svg width="24" height="24">
                    <use href="assets/icons/articles-icons.svg#no-fill-vk-icon"></use>
                  </svg>
                </a>
                <a routerLink="/">
                  <svg width="24" height="24">
                    <use href="assets/icons/articles-icons.svg#no-fill-facebook-icon"></use>
                  </svg>
                </a>
                <a routerLink="/">
                  <svg width="24" height="24">
                    <use href="assets/icons/articles-icons.svg#no-fill-instagram-icon"></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>
          <div class="inside-read-more">
            <div class="read-more-title">Читайте также:</div>
            <article-card *ngFor="let card of relatedArticleCards" [article]="card"></article-card>
            <article-card *ngIf="relatedArticleCards.length === 0"></article-card>
            <article-card *ngIf="relatedArticleCards.length === 0"></article-card>
          </div>
          <div class="comments">
            <div class="empty-block" *ngIf="isLogged"></div>
            <div class="comments-title">Комментарии к статье</div>
            <div class="unlogged-suggestion" *ngIf="!isLogged">
              Чтобы оставлять комментарии, <a routerLink="/login">войдите</a>
              или <a routerLink="/signup">зарегистрируйтесь</a>.
            </div>
            <div class="first-comment-suggestion" *ngIf="(appearedComments.length === 0) && isLogged">
              Будьте первым, кто оставит свой комментарий к статье!
            </div>
            <div class="user-comments-make-area" *ngIf="isLogged">
              <textarea #textarea placeholder="Напишите Ваш комментарий к статье..."></textarea>
              <button type="button" (click)="postUserComment(textarea)">Опубликовать комментарий</button>
            </div>
            <div class="other-user-comments">
              <div class="comment" *ngFor="let comment of appearedComments">
                <div class="comment-header">
                  <!--                                    <div class="icon">-->
                  <!--                                      <svg width="60" height="60">-->
                  <!--                                        <use href="assets/icons/articles-icons.svg#user-no-picture"></use>-->
                  <!--                                      </svg>-->
                  <!--                                    </div>-->
                  <img src="{{ userWithoutPicPath }}" alt="userPic">
                  <div class="username-and-time">
                    <span class="username">{{ comment.user.name }}</span>
                    <span class="time">{{ comment.date | date:'dd.MM.yyyy HH:mm' }}</span>
                  </div>
                </div>
                <div class="comment-text">{{ comment.text }}</div>
                <div class="comment-actions">
                  <div class="comment-action action-like"
                       [class.active-reaction]="userReactionByCommentId.get(comment.id) === 'like'"
                       (click)="postUserReaction(comment.id, 'like')">
                    <span class="amount">{{ comment.likesCount }}</span>
                    <svg width="24" height="24">
                      <use href="assets/icons/articles-icons.svg#no-stroke-like"></use>
                    </svg>
                  </div>
                  <div class="comment-action action-dislike"
                       [class.active-reaction]="userReactionByCommentId.get(comment.id) === 'dislike'"
                       (click)="postUserReaction(comment.id, 'dislike')">
                    <span class="amount">{{ comment.dislikesCount }}</span>
                    <svg width="24" height="24">
                      <use href="assets/icons/articles-icons.svg#no-stroke-dislike"></use>
                    </svg>
                  </div>
                  <div class="comment-action action-spam"
                       (click)="postUserReaction(comment.id, 'violate')">
                    <svg width="24" height="24">
                      <use href="assets/icons/articles-icons.svg#no-stroke-spam"></use>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
            <button type="button" class="get-more-comments"
                    *ngIf="fullArticle && (fullArticle.commentsCount - appearedComments.length) > 0"
                    (click)="getMoreComments()">
              <span>Загрузить ещё комментарии</span>
              <svg width="24" height="24">
                <use href="assets/icons/articles-icons.svg#no-fill-arrow-down"></use>
              </svg>
            </button>
          </div>
        </div>
        <aside class="aside-read-more">
          <div class="read-more-title">Читайте также:</div>
          <article-card *ngFor="let card of relatedArticleCards" [article]="card"></article-card>
          <article-card *ngIf="relatedArticleCards.length === 0"></article-card>
          <article-card *ngIf="relatedArticleCards.length === 0"></article-card>
        </aside>
      </div>
    </div>
  </div>
</section>
