<header class="header">
  <div class="container">
    <svg width="85" height="47">
      <use href="../../../assets/icons/icons.svg#main-icon"></use>
    </svg>
    <div class="header-menu">
      <nav>
        <ul>
          <li><a routerLink="/">Услуги</a></li>
          <li><a routerLink="/">О нас</a></li>
          <li><a routerLink="/">Статьи</a></li>
          <li><a routerLink="/">Отзывы</a></li>
          <li><a routerLink="/">Контакты</a></li>
        </ul>
      </nav>
    </div>
    <a href="tel:+74993431334" class="header-phone">
      +7 (499) 343-13-34
    </a>
    <div class="login-action">
      <a routerLink="/login" *ngIf="!isLoggedIn">
        <svg width="24" height="24">
          <use href="../../../assets/icons/icons.svg#user-icon"></use>
        </svg>
        <span>Войти</span>
      </a>
      <a [matMenuTriggerFor]="menu" *ngIf="isLoggedIn">
        <svg width="24" height="24">
          <use href="../../../assets/icons/icons.svg#user-icon"></use>
        </svg>
        <span>ВОЙДЕНО, ЮЗЕРНЕЙМ С БЕКЕНДА</span>
      </a>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <span (click)="logout()">Выйти</span>
        </button>
      </mat-menu>
    </div>
  </div>
</header>
