<header class="header">
  <div class="container">
    <a routerLink="/">
      <svg width="85" height="47">
        <use href="../../../assets/icons/icons.svg#main-icon"></use>
      </svg>
    </a>
    <div class="header-menu">
      <nav>
        <ul>
          <li><a routerLink="/" fragment="our-services" routerLinkActive="active"
                 [routerLinkActiveOptions]="{ paths: 'exact', queryParams: 'ignored', fragment: 'exact', matrixParams: 'ignored' }">
            Услуги</a></li>
          <li><a routerLink="/" fragment="about-us" routerLinkActive="active"
                 [routerLinkActiveOptions]="{ paths: 'exact', queryParams: 'ignored', fragment: 'exact', matrixParams: 'ignored' }">
            О нас</a></li>
          <li><a routerLink="blog" routerLinkActive="active"
                 [routerLinkActiveOptions]="{ paths: 'exact', queryParams: 'ignored', fragment: 'exact', matrixParams: 'ignored' }">
            Статьи</a></li>
          <li><a routerLink="/" fragment="reviews" routerLinkActive="active"
                 [routerLinkActiveOptions]="{ paths: 'exact', queryParams: 'ignored', fragment: 'exact', matrixParams: 'ignored' }">
            Отзывы</a></li>
          <li><a routerLink="/" fragment="contacts" routerLinkActive="active"
                 [routerLinkActiveOptions]="{ paths: 'exact', queryParams: 'ignored', fragment: 'exact', matrixParams: 'ignored' }">
            Контакты</a></li>
        </ul>
      </nav>
    </div>
    <a href="tel:+74993431334" class="header-phone">
      +7 (499) 343-13-34
    </a>
    <div class="login-action">
      <a routerLink="/login" *ngIf="!isLoggedIn">
        <svg width="24" height="24">
          <use href="../../../assets/icons/icons.svg#user-icon"></use>
        </svg>
        <span>Войти</span>
      </a>
      <a [matMenuTriggerFor]="menu" *ngIf="isLoggedIn">
        <svg width="24" height="24">
          <use href="../../../assets/icons/icons.svg#user-icon"></use>
        </svg>
        <span *ngIf="userName">Привет, {{ userName }}!</span>
        <span *ngIf="!userName">Привет!</span>
      </a>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">
          <span>Выйти</span>
        </button>
      </mat-menu>
    </div>
  </div>
</header>
