@import "../../../../assets/styles/variables";

.banner {
  width: 1240px;
  height: 500px;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position-x: calc(50% + 244px);

  .banner-eclipse {
    position: absolute;
    border-radius: 50%;
    background-color: $light-blue-color;

    // ПОЗИЦИЯ: На 1250px равен calc(-500px - 35%), на 400px плавно опускается ниже
    // Внимание: минимальное и максимальное значения в clamp() переставлены местами,
    // так как математически (-500px - 35%) МЕНЬШЕ, чем (-500px + 15%)
    top: clamp(calc(-518px - 37%), calc(-500px - 58.82vw + 385.3px), calc(-500px + 15%));
    left: calc(-8px - 56%);

    // ГАБАРИТЫ: На 1250px круг равен 1405px, на 400px плавно уменьшается до 1250px
    width: clamp(1050px, calc(18.24vw + 1177px), 1405px);
    height: clamp(1050px, calc(18.24vw + 1177px), 1405px);
  }

  .banner-content {

    box-sizing: border-box;
    padding: 72px 80px;
    position: relative;
    z-index: 1;

    .additional-upper-space {
      height: 14px;
    }

    .category-title {
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      letter-spacing: 0.4em;
      text-transform: uppercase;
      color: $usual-blue-color;

      &.additional-margin {
        margin-top: 15px;
      }
    }

    .title {
      font-family: 'Lora', serif;
      font-style: normal;
      font-weight: 400;
      font-size: 50px;
      line-height: 130%;
      color: #FFFFFF;
      margin-bottom: 20px;

      ::ng-deep span {
        color: $usual-blue-color;
      }
    }

    .additional-text {
      font-style: normal;
      font-size: 24px;
      line-height: 130%;
      color: #FFFFFF;

      ::ng-deep span {
        color: $usual-blue-color;
      }
    }

    .additional-lower-space {
      height: 30px;
    }

    .button {
      margin-top: 20px;
      text-align: center;
      padding: 14px 34px;
      background: $usual-blue-color;
      border-radius: 5px;
      cursor: pointer;
      border: 1px solid transparent;

      font-style: normal;
      color: #FFFFFF;
      font-size: 16px;
      line-height: 122%;
      letter-spacing: 1.2px;
      transition: 0.1s;

      &:hover {
        background: $hover-blue-color;
      }

      &:active {
        transform: scale(0.95);
      }
    }
  }
}
