<footer class="footer">
  <div class="container">
    <div class="footer-upper-part">
      <svg width="85" height="47">
        <use href="../../../assets/icons/icons.svg#main-icon"></use>
      </svg>
      <div class="footer-upper-part-menu">
        <nav>
          <ul>
            <li><a routerLink="/">Услуги</a></li>
            <li><a routerLink="/">О нас</a></li>
            <li><a routerLink="blog">Статьи</a></li>
            <li><a routerLink="/">Отзывы</a></li>
            <li><a routerLink="/">Контакты</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="footer-lower-part">
      <div class="footer-lower-part-item adress">
        <div class="item-header">Адрес</div>
        <div class="item-describe">Пресненская наб., 12, Москва, Россия, 123317.</div>
      </div>
      <div class="footer-lower-part-item phone">
        <div class="item-header">Телефон</div>
        <div class="item-describe">+7 (499) 343-13-34</div>
        <div class="item-actions"><button (click)="sendConsultRequest()" class="footer-button">Перезвоните мне</button></div>
      </div>
      <div class="footer-lower-part-item email">
        <div class="item-header">E-mail</div>
        <div class="item-actions"><a routerLink="/">info@itstorm.com</a>
          </div>
      </div>
      <div class="footer-lower-part-item social-midea">
        <div class="item-header">Мы в социальных сетях:</div>
        <div class="item-actions">
          <div class="icons-block">
            <a routerLink="/">
              <svg width="24" height="24">
                <use href="../../../assets/icons/icons.svg#vk-icon"></use>
              </svg>
            </a>
            <a routerLink="/">
              <svg width="24" height="24">
                <use href="../../../assets/icons/icons.svg#facebook-icon"></use>
              </svg>
            </a>
            <a routerLink="/">
              <svg width="24" height="24">
                <use href="../../../assets/icons/icons.svg#instagram-icon"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-under-lower-part">
      <a routerlink="/">© 2022. Все права защищены</a>
    </div>
  </div>
</footer>
