<section class="main">
  <div class="container">
    <!--    #PART CHAPTER ---------- 1  -->
    <div class="chapter chapter-banner" *ngIf="banners && banners.length > 0">
      <owl-carousel-o [options]="bannersOwlOptions" #owlBannerCar>
        <ng-template carouselSlide *ngFor="let banner of banners">
          <big-banner [banner]="banner"></big-banner>
        </ng-template>
        <div class="owl-dots">
          <div class="owl-dot active"><span></span></div>
          <div class="owl-dot"><span></span></div>
          <div class="owl-dot"><span></span></div>
        </div>
      </owl-carousel-o>

      <div class="banner-arrows">
        <div class="move-backward" style="background-image: url('../../../assets/images/big-banner/Previous.png')"
             (click)="owlBannerCar.prev()"></div>
        <div class="move-forward" style="background-image: url('../../../assets/images/big-banner/Next.png')"
             (click)="owlBannerCar.next()"></div>
      </div>
    </div>

    <!--    #PART CHAPTER ---------- 2  -->
    <div class="chapter chapter-our-services" id="our-services" *ngIf="ourServices">
      <div class="chapter-title chapter-title--our-services">Услуги, которые мы предлагаем</div>
      <div class="pseudo-carousel">
        <our-services-card [ourService]="ourService" *ngFor="let ourService of ourServices"></our-services-card>
      </div>
    </div>

    <!--    #PART CHAPTER ---------- 3  -->
    <div class="chapter chapter-about-us" id="about-us">
      <div class="about-picture"></div>
      <div class="about-content">
        <div class="chapter-title">Кто мы и чем мы занимаемся?</div>
        <div class="description">
          <span>АйтиШторм</span> — это ваш помощник №1 при решении таких вопросов, как продвижение в сети, разработка
          сайтов для
          бизнеса и личного бренда, сторисмейкинг, копирайтинг, маркетинг, разработка визуальной концепции и создание
          инфопродуктов. Компания была основана в 2019 году и за всё это время смогла выйти в ТОП-10 агенств,
          предлагающих услуги продвижения в сети.
        </div>
        <div class="subtitle">Наши преимущества</div>
        <div class="advantages">
          <div class="advantage">
            <div class="advantage-number">1</div>
            <div class="advantage-description">
              <span>Мастерски вовлекаем аудиториюв процесс.</span> Мы увеличиваем процент вовлечённости за короткий
              промежуток времени.
            </div>
          </div>
          <div class="advantage">
            <div class="advantage-number">2</div>
            <div class="advantage-description">
              <span>Разрабатываем бомбическую визуальную концепцию.</span> Наши специалисты знают как создать уникальный
              образ вашего проекта.
            </div>
          </div>
          <div class="advantage">
            <div class="advantage-number">3</div>
            <div class="advantage-description">
              <span>Создаём мощные воронки с помощью текстов.</span> Наши копирайтеры создают не только вкусные текста,
              но и классные воронки.
            </div>
          </div>
          <div class="advantage">
            <div class="advantage-number">4</div>
            <div class="advantage-description">
              <span>Помогаем продавать больше.</span> Мы не только помогаем разработать стратегию по продажам, но также
              корректируем её под нужды заказчика.
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--    #PART CHAPTER ---------- 4  -->
    <div class="chapter chapter-popular" *ngIf="popularArticles">
      <div class="chapter-title chapter-title--popular">Популярные статьи из блога</div>
      <div class="pseudo-carousel">
        <article-card [article]="article" *ngFor="let article of popularArticles"></article-card>
      </div>
      <div class="popular-footer">
        <a routerLink="/blog" class="link-to-blog">
          <span>Перейти в блог</span>
          <svg width="16" height="16">
            <use href="../../assets/icons/arrows.svg#popular-link-arrow-right"></use>
          </svg>
        </a>
      </div>
    </div>

    <!--    #PART CHAPTER ---------- 5  -->
    <div class="chapter chapter-reviews" id="reviews" *ngIf="reviews && reviews.length > 0">
      <div class="chapter-title chapter-title--reviews">Отзывы о нашей работе</div>
      <owl-carousel-o [options]="reviewsOwlOptions" #owlReviewsCar>
        <ng-template carouselSlide *ngFor="let review of reviews">
          <div class="reviews-card">
            <div class="card-header">
              <div class="user-image" [style.background-image]="'url(\'' + review.image + '\')'"></div>
              <span>{{ review.name }}</span>
            </div>
            <div class="card-user-review">{{ review.text }}</div>
          </div>
        </ng-template>
      </owl-carousel-o>
      <div class="reviews-arrows">
        <a class="move-backward" (click)="owlReviewsCar.prev()"
           style="background-image: url('assets/images/reviews-cards/Previous.png')"></a>
        <a class="move-forward" (click)="owlReviewsCar.next()"
           style="background-image: url('assets/images/reviews-cards/Next.png')"></a>
      </div>
    </div>

    <!--    #PART CHAPTER ---------- 6  -->
    <div class="chapter chapter-contacts" id="contacts">
      <div class="contacts-map">
        <iframe
          src="https://yandex.ru/map-widget/v1/?um=constructor%3A1668d5f20bd636f52351b07d005af2c79f6aeb5780489b45087daddd228b5b22&amp;source=constructor"
          width="100%" height="100%" frameborder="0"></iframe>
      </div>
      <div class="contacts-content">
        <div class="chapter-title chapter-title--contacts">Контакты</div>
        <div class="contact-block">
          <div class="subtitle">Адрес</div>
          <span>Главный офис компании АйтиШторм находится по адресу Пресненская наб., 12, Москва, Россия, 123317.</span>
        </div>
        <div class="contact-block phone">
          <div class="subtitle">Телефон</div>
          <a href="tel:+74993431334">+7 (499) 343-13-34</a>
        </div>
        <div class="contact-block">
          <div class="subtitle">Электронный адрес</div>
          <a href="mailto:info@itstorm.com">info@itstorm.com</a>
        </div>
        <div class="contact-block">
          <div class="subtitle">Мы в социальных сетях</div>
          <div class="media-icons">
            <a href="https://vk.ru/">
              <svg width="30" height="30">
                <use href="../../assets/icons/icons.svg#vk-icon-30"></use>
              </svg>
            </a>
            <a href="https://facebook.com/">
              <svg width="30" height="30">
                <use href="../../assets/icons/icons.svg#facebook-icon-30"></use>
              </svg>
            </a>
            <a href="https://instagram.com/">
              <svg width="30" height="30">
                <use href="../../assets/icons/icons.svg#instagram-icon-30"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
