$container-width: 1240px;

$dark-violent-color: #1E1A2B;
$dark-blue-color: #071739;
$hover-blue-color: #5d9dff;
$usual-blue-color: #709FDC;
$light-blue-color: #B9D5FD;
$white-color: #FFFFFF;
$beige-color: #BEBEBE;
